<% if @error %>
  <p style='color: red;'>Try again! Be sure to use the correct email format and domain when signing up.</p>
<% end %>

  <h3> Current users: Please sign in here: </h3>

    <form action="/session" method="POST">
    <label>
     Email:
      <input name="email">
    </label>

      <label>
        Password:
          <input name="password" type="password">
      </label>

    <input name="authenticity_token" value="<%= form_authenticity_token()%>" type="hidden">

      <button>Sign in</button>

   </form>

  <br>

    <h3> New users: Please sign up below: </h3>

      <form action="/sign-up" method="GET">

      <button>Sign-up</button>

</form>
