<ol>

   <h3>Current users of GET FIT!</h3>

    <% @users.each do |user| %>

              <li>

            <a href="/users/<%=user.id %>"><%= user.name %></a>

      </li>

      <% end %>

  </ol>