<h4 id="search">Welcome <%=@user.name %>! Enter an address or zip to search. </h4>

<form action="/users/<%=@user.id%>/show" method="GET">

    <label>
      <input id="locationinput" name="location" value="<%=@user.zipcode%>"/>
      </label>

    <input name="authenticity_token" value="<%= form_authenticity_token()%>" type="hidden">
<button id="button">Find a gym near me</button>

</form>

    <title>Place searches</title>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

  <body>
    <div id="map-canvas"></div>
</body>